body{
    color:rgb(50, 50, 50);
    margin:0px;
    padding:0px;
    font-family: 'Kanit', sans-serif;
    background-color:  rgb(212, 255, 255);;
}

    

header{
    background-color: transparent;
    width:100%;
    height:60px;
    position: absolute;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px; 
    box-sizing: border-box;   

}
header a{
    color:rgb(231, 248, 2);
    margin-right:30px;
    text-decoration: none;



}  
header a:hover{
    background-color: rgb(245, 245, 1);
    color:white;
    border-radius:3px;
    padding:5px;

}
#logo-header{
    font-family: 'Dancing Script', cursive;
    font-size:40px;
}
#logo-header:hover{
    transform:scale(1.01);
    transition: transform 0.2s ease;
    background-color: transparent;
}
main{
    background-image: url("photos index/ocean.jpg");
    height:500px;
    background-position: center;
    background-size: cover;
    top:0px;
    display:flex;
    width:100%;

    

}
.explore{
    position:relative;
    margin: auto;
    width:500px;
    height:150px;
    background-color: rgba(50, 50, 50, 0.8);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:rgb(240,240,240); 
    box-shadow: 1px 2px 13px -2px rgba(0,0,0,0.95);
}
.explore h1{
    margin: 8px auto 8px auto;
}
.explore p{
    margin:0 auto 8px auto;
}
.explore a{
    background-color:rgb(223, 238, 7);
    border-radius:5px;
    text-decoration: none;
    padding:5px;
    font-size:14px;
}
.explore a:hover{
    background-color:rgb(211, 211, 0);
    transition: background-color 0.3 ease;
}
section{
    width:100%;
    background-color: rgb(212, 255, 255);
    text-align: center;
}
section h1{
    padding-top:30px;
    font-weight:500;
}
.destinations{
    padding-top:30px;
    width:100%;
    background-color: rgb(212, 255, 255);
    display:flex;
    justify-content: center;
    padding-bottom:40px;
}
.destinations div{
    width:70%;
}
.destinations img{
    
    width:70%;
    height:180px;
    border-radius: 8px;
    margin:20px;
    object-fit: cover;
    
}
.count{
    color:rgb(81, 81, 255);
    margin-left:7px;
}
.destinations img:hover{
    transform:scale(1.1);
    transition: transform 0.2s ease-in-out; 
}
footer{
    display:flex;
    justify-content: space-between;
    align-items:flex-end;
    color:rgb(222, 222, 222);
    background-color: rgb(19, 19, 19);
    height:200px;
    padding: 10px;
}
footer a{
    color:rgb(222, 222, 222);
    text-decoration: none;
    padding-right:50px;
}
#soc-med{
    padding-bottom:30px;
    
    
}
